<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Edit Page</title>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>
<body>

<form th:method="PATCH"
      th:action="@{/admin/users/{id}(id=${user.getId()})}"
      th:object="${user}">
    <fieldset>
        <legend th:text="'Editing ID ' + ${id}"></legend>
        
        <label for="login">Login</label>
        <input class="input" id="login" type="text" th:field="*{login}" required>
        <br>
        <label for="password">Password</label>
        <input class="input" id="password" type="text" th:field="*{password}" required>
        <br>
        <label for="name">Name</label>
        <input class="input" id="name" type="text" th:field="*{name}" required>
        <br>
        <label for="surname">Surname</label>
        <input class="input" id="surname" type="text" th:field="*{surname}" required>
        <br>
        <label for="email">Email</label>
        <input class="input" id="email" type="text" th:field="*{email}" required>
        <br>
        <p>Roles: <span th:text="${user.getRoles()}"></span></p>
        <br>
        <select multiple size="3">
            <option disabled selected>Select role:</option>
            <div th:each="role : ${roles}">
                <option th:text="${role.getRole()}"
                        th:value="${role.getId()}"></option>
            </div>
        </select>
        <br><br>
        <input class="btn" type="submit" value="Update User">
    </fieldset>
</form>

<div class="links">
    <a th:href="@{/logout}">logout</a>
    <a th:href="@{/admin/users}">back</a>
</div>

</body>
</html>