<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/css/main.css}"
          rel="stylesheet">
</head>
<body>

<form method="post" action="/login">
    <input type="text" name="j_username" placeholder="login" autofocus>
    <input type="password" name="j_password" placeholder="password">
    <input type="submit"/>
    <br><br>
    <p>ADMIN: том - том (disabled)</p>
    <br>
    <p>USER: анна - анна</p>
    <br>
    <p>ADMIN, USER: sam - sam</p>
</form>

</body>
</html>